<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="video.api.upstream.example">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_api_video"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">
        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.App.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".preferences.PreferencesActivity" />
        <service android:name="video.api.uploader.api.services.UploadService" />
    </application>

</manifest>